<!-- wp:template-part {"slug":"header","theme":"contact-sheet","tagName":"header"} /-->

<!-- wp:group {"tagName":"main","layout":{"type":"constrained","contentSize":"1000px","justifyContent":"center"}} -->
<main class="wp-block-group">
	<!-- wp:group {"style":{"spacing":{"blockGap":"var:preset|spacing|20"}},"layout":{"type":"default"}} -->
	<div class="wp-block-group">
		<!-- wp:post-title {"fontSize":"x-large"} /-->

		<!-- wp:post-content {"layout":{"type":"constrained","contentSize":"1000px"}} /-->
	</div>
	<!-- /wp:group -->
</main>
<!-- /wp:group -->

<!-- wp:template-part {"slug":"footer","theme":"contact-sheet","area":"footer"} /-->
