<!-- wp:template-part {"slug":"header","theme":"contact-sheet","tagName":"header"} /-->

<!-- wp:group {"style":{"spacing":{"padding":{"right":"var:preset|spacing|50","left":"var:preset|spacing|50"}}},"layout":{"type":"constrained","contentSize":"1000px","justifyContent":"center"}} -->
<div class="wp-block-group"
	style="padding-right:var(--wp--preset--spacing--50);padding-left:var(--wp--preset--spacing--50)">
	<!-- wp:group {"style":{"spacing":{"blockGap":"var:preset|spacing|20"}},"layout":{"type":"default"}} -->
	<div class="wp-block-group">
		<!-- wp:post-title {"fontSize":"x-large"} /-->

		<!-- wp:post-content {"layout":{"type":"constrained","contentSize":"1000px"}} /-->
	</div>
	<!-- /wp:group -->
</div>
<!-- /wp:group -->

<!-- wp:template-part {"slug":"footer","theme":"contact-sheet","area":"footer"} /-->
