<!-- wp:template-part {"slug":"header","theme":"contact-sheet","tagName":"header"} /-->

<!-- wp:group {"style":{"spacing":{"padding":{"right":"var:preset|spacing|50","left":"var:preset|spacing|50"}}},"layout":{"type":"constrained","contentSize":"1000px","justifyContent":"center"}} -->
<div class="wp-block-group"
	style="padding-right:var(--wp--preset--spacing--50);padding-left:var(--wp--preset--spacing--50)">

	<!-- wp:group {"style":{"spacing":{"blockGap":"var:preset|spacing|20"}},"layout":{"type":"default"}} -->
	<div class="wp-block-group">
		<!-- wp:post-date {"style":{"typography":{"fontSize":"11px"}}} /-->

		<!-- wp:post-title {"isLink":false,"fontSize":"x-large"} /-->

		<!-- wp:post-content {"layout":{"type":"constrained","contentSize":"1000px"}} /-->

		<!-- wp:post-navigation-link {"type":"previous","showTitle":true,"style":{"typography":{"fontSize":"0.875rem"}}} /-->
		<!-- wp:post-navigation-link {"type":"next","showTitle":true,"style":{"typography":{"fontSize":"0.875rem"}}} /-->
	</div>
	<!-- /wp:group -->

</div>
<!-- /wp:group -->

<!-- wp:template-part {"slug":"footer","theme":"contact-sheet","tagName":"footer"} /-->
